/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}
button {
  padding: 2rem 6rem;
  background: #366db1;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
button:hover {
  background: #234a77;
}

/* Nav with hero section */
.main-head {
  background-color: #131c27;
  color: white;
  position: sticky;
  top: 0;
  z-index: 3;
}
nav {
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/landing-page.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 3rem;
}

/* Locations section */
#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/locations-page.png");
  color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.locations-head {
  width: 90%;
  margin: auto;
}
.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
  position: relative;
  z-index: 1;
  font-weight: bold;
}
.locations-head h3 {
  padding: 4rem 0rem;
  position: relative;
  z-index: 1;
}

/* Benefits section */
.benefits-head {
  background: #234a77;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  min-height: 30vh;
}
.benefits-head h3 {
  padding: 1rem;
}
.card {
  text-align: center;
  flex: 1 1 25rem;
  min-height: 30vh;
  margin: 2rem 5rem;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.1), 0px 20px 20px rgb(0, 0, 0, 0.1);
}
.card h4,
.card p {
  padding: 1rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}
.cards img {
  max-width: 15%;
  margin: 2rem;
}
.card-icon {
  background: #366db1;
}

/* Contact section */

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("img/contact-page.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 40%;
  color: white;
  border-radius: 20px;
}
.form-head {
  text-align: center;
  padding: 4rem;
}
.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}
.form-wrapper label {
  margin: 0rem 3rem;
}
.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form-wrapper input {
  padding: 1rem 3rem;
  border-radius: 5px;
}

/* Footer */
footer {
  color: white;
  background: rgba(19, 28, 39, 1);
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
footer h5 {
  flex: 1 1 40rem;
}
footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
}

/* Media queries */

@media screen and (max-width: 935px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem 0rem;
    text-align: left;
  }
  footer h5 {
    padding-bottom: 3rem;
  }
  .form-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 672px) {
  #logo {
    text-align: center;
  }
  footer {
    text-align: center;
  }
}
